.food-item{
    width: 100%;
    margin: auto;
    border: 15px;
    box-shadow: 10px 10px 10px  #85060615;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image{ 
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 18px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #6c757d;
    font-size: 17px;
}
.food-item-price{
    font-size: 20px;
    font-weight: 800;
    color: #ff6b6b;
    margin: 10px 0px;
}
.food-item-container{
    position: relative;
}

.food-item-container .add{
position: absolute;
width: 40px;
bottom: 15px;
right: 15px;
cursor: pointer;
border-radius: 50%;
background-color: #ff6b6b;
}

.food-item-container .count{
   position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color:orangered;
    border-radius: 50px;
    padding: 3px;
}

.count img{
    width: 35px;
}
